$category-frontend-color: #ffbe0b;
$category-backend-color: #e63946;
$category-test-color: #862f8a;
$category-fullstack-color: #8ac926;
$category-default-color: #b6b6b6;

$favorites-color: #ffd700;
